.settings
.project
client/.mvn/*.*
client/.settings/*.*
client/.classpath
client/.project
model/.mvn/*.*
model/.settings/*.*
model/.classpath
model/.project
service/.mvn/*.*
service/.settings/*.*
service/.classpath
service/.gitattributes
service/.gitignore
service/.project
service/HELP.md
service/mvnw
service/mvnw.cmd